
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Links</title>

    <style>
        #doItNihil{
            border: solid 5px black;
        }
    </style>
</head>
<body>
    <div id= "container">

        
    </div>

    <script>

        var daContainer = document.querySelector("#container");

        for (var f = 0; f < 10; f++) {
            daContainer.innerHTML += `<iframe id = "doItNihil" width="560" height="315" src="https://www.youtube.com/embed/OG_1A0-r6OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </br>`;
        }
    </script>
</body>
</html>
