
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <div>
        <h2>HELLO MVC, MA OLD FRIEND!</h2>
        <img src="https://ucefec561b69d9972c9da13fabf7.previews.dropboxusercontent.com/p/thumb/ABVxzY0kaQSNkw9rcMqSA7cLFLBq7yeLW7i80VTylDRfd_TWyludhsUp7K8yAjfkuxOyWZHqoIKX8jolsaihUTc4sQWbKyqOq0xrScqE6sMrtOujXZVYJUX2Mo6xdXvaAvdbww7eS54jKdzqDM0xzw3xLXY5F84Ag1krAQdtnM_oOYZY5P9BBi9IM6DDdM6iHJ1oToz4rQkt1PrwdUG4p6SQiZf2i3HYDPuqmN-mfKXeJZTb4Kp80zcGzLkkkTVl0WgzB7QL0Ex0h05KyLevjFttTCLvLDzPKmlFuRHjDIbAOsafw17za5OO3ZkMcvHLuPSZRWINhJMd9IhfwdHLuBu8pXp453BNos-r_q5V0Tx3ZSXk9aPoCj6DETNNw6R8Wm8/p.gif" alt="Alternate Text" />
    
        <table>
            <tr>
                <td><a href="./Contact">Contact Page</a></td>
            </tr>
            <tr>
                <td><a href="./Home">Home Page</a></td>
            </tr>
            <tr>
                <td><a href="./Links">Links Page</a></td>
            </tr>
            <tr>
                <td><a href="./Index">Index Page</a></td>
            </tr>
            <tr>
                <td><a href="./Project">Project Page</a></td>
            </tr>

        </table>
    
    </div>
</body>
</html>
